body {
  color: white;
  background-image: url(smashed-cookie-with-copy-space-blue-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Lato, italic;
  text-align: left;
  font-style: italic; 
}

p {
  font-size:21pt;
  text-align: center;

}

li {
  padding-bottom: 5px;
  text-align: left;
  font-size:15pt;
}

h1 {
  color: white;
  text-align: center  ;
  font-family: impact;
  font-size: 50px;
}

h2 {
  padding-top: 50px;
  font-family: impact;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center; 
}


table, th, tr {
  font-size: 30px ;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;  
}

.text-decoration {
  text-decoration: none;
}

th, td {
  background-color: #0d6efd;
}

.centre {
  text-align: center;
  text-decoration: none;
} 

  



